[package]
authors = ["nathanielsimard <nathaniel.simard.42@gmail.com>"]
categories = ["science"]
description = "Kernel fusion backend decorator for the Burn framework"
edition.workspace = true
keywords = ["deep-learning", "machine-learning", "data"]
license.workspace = true
name = "burn-fusion"
readme.workspace = true
repository = "https://github.com/tracel-ai/burn/tree/main/crates/burn-fusion"
documentation = "https://docs.rs/burn-fusion"
version.workspace = true

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["std", "tracing"]
std = ["serde/std", "tracing?/std"]
doc = ["default"]
memory-checks = ["std", "dep:burn-std"]

tracing = [
    "dep:tracing",
    "burn-backend/tracing",
    "burn-ir/tracing",
]

[dependencies]
burn-backend = { path = "../burn-backend", version = "=0.21.0" }
burn-ir = { path = "../burn-ir", version = "=0.21.0" }
burn-std = { path = "../burn-std", version = "=0.21.0", optional = true }
tracing = { workspace = true, optional = true, features = ["attributes"] }

hashbrown = { workspace = true }
derive-new = { workspace = true }
spin = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
