[target.'cfg(all(target_arch = "arm", target_os = "none"))']
rustflags = ["--cfg", "portable_atomic_critical_section"]
# runner = "probe-rs run --chip RP235x"
runner = "elf2flash deploy -s"

[build]
# target = "thumbv6m-none-eabi"        # Cortex-M0 and Cortex-M0+
target = "thumbv8m.main-none-eabihf" # Cortex-M23 and Cortex-M33

[env]
DEFMT_LOG = "debug"
