[package]
authors = ["nathanielsimard <nathaniel.simard.42@gmail.com>"]
categories = ["science", "no-std", "embedded", "wasm"]
description = "Tensor library with user-friendly APIs and automatic differentiation support"
documentation = "https://docs.rs/burn-tensor"
edition.workspace = true
keywords = ["deep-learning", "machine-learning", "tensor", "pytorch", "ndarray"]
license.workspace = true
name = "burn-tensor"
readme.workspace = true
repository = "https://github.com/tracel-ai/burn/tree/main/crates/burn-tensor"
version.workspace = true

[lints]
workspace = true

[features]
default = ["std"]
cubecl = ["dep:cubecl", "burn-std/cubecl"]
cubecl-cuda = ["cubecl", "cubecl/cuda"]
cubecl-hip = ["cubecl", "cubecl/hip"]
cubecl-wgpu = ["cubecl", "cubecl/wgpu"]
cubecl-cpu = ["cubecl", "cubecl/cpu"]
doc = ["default"]
experimental-named-tensor = []
export_tests = ["burn-tensor-testgen", "cubecl"]
std = [
    "num-traits/std",
    "burn-std/std",
    "burn-backend/std",
    "colored",
]

[dependencies]
burn-std = { path = "../burn-std", version = "0.20.0-pre.3", default-features = false }
burn-tensor-testgen = { path = "../burn-tensor-testgen", version = "0.20.0-pre.3", optional = true }
burn-backend = { path = "../burn-backend", version = "0.20.0-pre.3", default-features = false }
cubecl = { workspace = true, optional = true, default-features = false }

colored = { workspace = true, optional = true }
derive-new = { workspace = true }
num-traits = { workspace = true }

# The same implementation of HashMap in std but with no_std support (only needs alloc crate)
hashbrown = { workspace = true } # no_std compatible

# Serialization
serde = { workspace = true }

[dev-dependencies]
paste = { workspace = true }

[package.metadata.docs.rs]
features = ["doc"]
# KaTeX header is copied to the crate root in the publish workflow
rustdoc-args = ["--cfg", "docsrs", "--html-in-header", "katex-header.html"]
