[package]
authors = ["Dilshod Tadjibaev (@antimora)"]
categories = []
description = "Common crate for the Burn framework"
edition.workspace = true
keywords = []
license.workspace = true
name = "burn-common"
readme.workspace = true
repository = "https://github.com/tracel-ai/burn/tree/main/crates/burn-common"
documentation = "https://docs.rs/burn-common"
version.workspace = true

[lints]
workspace = true

[features]
default = ["std", "cubecl-common/default"]
std = ["cubecl-common/std"]
doc = ["default"]

[dependencies]
serde = { workspace = true }

cubecl-common = { workspace = true, default-features = false, features = [
    "serde",
] }

[dev-dependencies]
dashmap = { workspace = true }

[package.metadata.docs.rs]
features = ["doc"]
rustdoc-args = ["--cfg", "docsrs"]
