[package]
authors = ["nathanielsimard <nathaniel.simard.42@gmail.com>"]
edition.workspace = true
license.workspace = true
name = "mnist"
publish = false
version.workspace = true

[lints]
workspace = true

[features]
default = ["burn/default", "burn/tui"]
ndarray = ["burn/ndarray"]
ndarray-blas-accelerate = ["ndarray", "burn/accelerate"]
ndarray-blas-netlib = ["ndarray", "burn/blas-netlib"]
ndarray-blas-openblas = ["ndarray", "burn/openblas"]
tch-cpu = ["burn/tch"]
tch-gpu = ["burn/tch"]
wgpu = ["burn/wgpu"]
metal = ["burn/metal"]
cuda = ["burn/cuda"]
vulkan = ["burn/vulkan"]
rocm = ["burn/rocm"]

[dependencies]
burn = { path = "../../crates/burn", features = [
    "train",
    "vision",
    "metrics",
    "dispatch",
    "ndarray",
], default-features = false }

# Serialization
log = { workspace = true }
rand.workspace = true
serde = { workspace = true, features = ["std", "derive"] }
