name: Combine Dependabot PRs

on:
  schedule:
    - cron: '0 6 * * MON' # Monday at 6:00am UTC
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  checks: read

jobs:
  combine-prs:
    runs-on: ubuntu-latest
    steps:
      - name: combine-prs
        id: combine-prs
        uses: github/combine-prs@v5.2.0
        with:
          labels: dependencies,automated
