on:
  workflow_call:
    inputs:
      crate:
        required: true
        type: string
    secrets:
      CRATES_IO_API_TOKEN:
        required: true

jobs:
  publish-crate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: install rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: publish to crates.io
        run: ./ci/publish.sh ${{ inputs.crate }}
        env:
          CRATES_IO_API_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
